server:
  port: 8080

spring:
  application:
    name: spring-boot-api-template

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        auto_quote_keyword: true

jwt:
  # Base64로 인코딩된 시크릿 키
  secret-key: i2zLpRJJoYQASmbgAzcAvLTUczmcsv45Zu3rMtkWbKtvafvH3vvnrWwhcOFGg9SfEmEWPWlOQ71qPkf6Q9CGPw==
  access-token-expire-seconds: 86400
  refresh-token-expire-seconds: 604800